@media (max-width: 985px) {
    .btn-abrir-menu {
        display: block;
        margin-right: 15px;
        display: flex;
        justify-content: end;

    }

    .menu-desktop {
        display: none;
    }

    header.rolagem {
        display: none;
    }

    .topo-do-site {
        background-color: #242525;
        min-height: 30vh;
        text-align: center;
      

    }

    .topo-do-site .img_foto img {
        margin-top: 5rem;
        width: 100px;
        height: 100px;

    }


    h1 {
        font-size: 25px;
        color: #fff;
        max-width: 60%;
        margin: auto;
        margin-top: 20px;
       
    }

    .texto {
        line-height: 40px;
        font-size: 30px;
        margin: auto;
        color: #fff;


    }

    .sobre {
       background-color: #242525;
        padding: 50px 30px;
        display: block;
        overflow: hidden;
       
    }

    .sobre .txt-sobre h2 {
        font-size: 30px;
        margin-bottom: 1rem;

    }

    .sobre .txt-sobre .paragrafo_sobre2{
        margin-bottom: 0;
    }

    .sobre .txt-sobre p{
        font-size: 18px;
    }

    

    .progress-bars{
     margin: auto;
     padding: 0  30px;
      
      
    }

   .sobre .span {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
        color: #fff;
    }

    section.portfolio {
        padding: 10px 0;
        background-color: #fff;
        box-shadow: 0 0 40px 10px #ffffff83;

    }

    .txt-projetos,
    .projetos-container {
        display: block;
        width: 100%;
        text-align: center;

    }

    section.portfolio {
        padding: 5px 0;
        background-color: #fff;
        box-shadow: 0 0 40px 10px #ffffff83;
    }


    .txt-projetos {
        position: static;
        margin-bottom: 3rem;


    }

    .txt-projetos h2 {
        justify-content: center;
        font-size: 30px;
        display: flex;
        gap: 5px;
        margin: 0;

    }

    .txt-projetos p {
        font-size: 18px;
        line-height: 25px;
       padding: 0 25px;
       


    }

    .main-container {
        height: 100%;
        flex-wrap: wrap;

    }

    #form-container,
    #address-container {
        flex: 1 1 100%;
    }

    #form-container {
        order: -1;
        padding: 30px;
    }

    #form-container h2 {
        margin-bottom: 25px;
    }

    #contact-form {
        width: 100%;
    }

    #address-container {
        background-position: 0;
        height: 500px;
    }

    .fade {
        opacity: .9;
    }

    #address-content {
        top: 25%;
        left: 25%;
    }

    .copy {
        color: #fff;
        text-align: center;
    }

}